.details-content {
  padding-top: 15px;
  background: #e1e1e1;

  .section {
    max-width: 1400px;
    margin: 0 auto;
    background: #e1e1e1;
    position: relative;
  }

  // 左浮动
  .section-left {
    margin-right: 306px;
    background: #ffffff;

    .header {
      height: 87px;
      border-bottom: solid 1px #e5e5e5;
      padding-top: 12px;

      .det-tab,.det-title {
        line-height: 41px;
        vertical-align: bottom;
      }
      .det-tab {
        padding: 4px 3px;
        text-align: center;
        color: #ffffff;
        background: #80bd01;
        font-size: 12px;
        border-radius: 4px;
        margin: 0 10px;
      }
      .det-title {
        font-weight: 700;
        font-size: 22px;
      }
    }

    .header-info {
      padding: 0 10px;
      color: #938383;
      line-height: 26px;

      span {
        margin-right: 4px;
      }
    }


    // 评论
    .user-replies {
      background: #e1e1e1;
      padding: 13px 0;
      .rep-header {
          height: 40px;
          padding-left: 10px;
          background: #f6f6f6;
          line-height: 40px;
          color: #444444;
      }

      .rep-list {
        background: #ffffff;

        li {
          padding: 10px;
          margin: 1px 0;
          cursor: pointer;
          position: relative;
          border-bottom: solid 1px #f0f0f0;

          .rep-image {
            width: 30px;
            height: 30px;
          }

          .mkdown-text {
            padding: 0 40px;
            margin-top: -8px;
            font-size: 13px;
            color: #333333;
            line-height: 24px;
          }

          // 点赞功能 asslogin
          .asslogin {
            position: absolute;
            right: 13px;
            top: 18px;

            span {
              margin-left: 6px;
            }
          }

          strong {
            padding-left: 10px;
            color: #666;
          }
        }
      }
    }
  }
  //左浮动结束

  .section-right {
    width: 290px;
    height: 170px;
    position: absolute;
    right: 0;
    top: 0;
    margin-left: 15px;
    background: #ffffff;
    border-radius: 4px;

    @import "../../assets/less/authorInfo/authorInfo";  // 单独组件的样式
  }
}

// markdown 文本解析
.article {
  padding: 20px;

  .markdown-text {
    line-height: 32px;
    font-size: 15px;
    padding: 2px;
    overflow: auto;

    img {
      max-width: 800px;
    }
  }
}
